<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.MikeMajara.RaeSuggestionSearch</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>73B590C2-74F3-4404-A768-A6C0A545A35D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94C0FE01-8104-438E-BFA2-10604C3583D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83F28A94-40CE-4B0C-BE01-3EE066D31398</key>
		<array/>
		<key>EDD1258F-38AB-452D-AC67-4679BCDD7935</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73B590C2-74F3-4404-A768-A6C0A545A35D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mike Majara</string>
	<key>description</key>
	<string>Rae extended search</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Rae</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>raeclear</string>
				<key>subtext</key>
				<string>Subtext Cache Clear</string>
				<key>text</key>
				<string>Title Cache Clear</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EDD1258F-38AB-452D-AC67-4679BCDD7935</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Text Cache cleared</string>
				<key>title</key>
				<string>Title Cache cleared</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>94C0FE01-8104-438E-BFA2-10604C3583D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python -c "import cache; cache.clear_workflow_cache()"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>73B590C2-74F3-4404-A768-A6C0A545A35D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rae</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching among all the words we know...</string>
				<key>script</key>
				<string>python main.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type to search. ⇧ Shift to preview. ⌘ + C to copy link</string>
				<key>title</key>
				<string>Search RAE for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>83F28A94-40CE-4B0C-BE01-3EE066D31398</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>73B590C2-74F3-4404-A768-A6C0A545A35D</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>83F28A94-40CE-4B0C-BE01-3EE066D31398</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>94C0FE01-8104-438E-BFA2-10604C3583D0</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>EDD1258F-38AB-452D-AC67-4679BCDD7935</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>MM_DISPLAY_DETAILS</key>
		<string>1</string>
		<key>MM_DISPLAY_THUMBNAILS</key>
		<string>1</string>
	</dict>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/MikeMajara/alfred-suggestion-search-rae</string>
</dict>
</plist>
